@import 'utils/libs';
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts.scss';
@import 'utils/reset';

html {
  font-family: $mainFont;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
overflow-x: hidden;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}


body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  transition: .3s;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;

}

* {
  font-family: $mainFont;
}
*:not(picture){
  position: relative;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #002833;
  font-family: $headingFonts;
}

a {
  text-decoration: none;
}

// img {
//   max-width: 100%;
// }

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

p {
  margin-bottom: 18px;
  color: #333;
}
a{
  display: inline-block;
}

section,
.section {
  position: relative;
  padding: 40px 0;

  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }

  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }

  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.container{
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
header{
  @include mediaWidth_992{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
  }
}

header .container .box{
  @include mediaWidth_992{
    position: static;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }
}

.row{
  display: flex;
}

.active-page-link::before{
  transform: scaleX(1) translateZ(0) !important;
}

.logo{
  z-index: 101;
  img{
    @include mediaWidth_992{
      max-width: 150px;
    }
  }
}

.item-link-menu{
  margin: 7.5px;
  .link-menu{
    position: relative;
    padding: 5px 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #021744;
    &:hover::before
    {
      transform: scaleX(1) translateZ(0);
    }
    &::before
    {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #214C9E;
      -webkit-transform: scaleX(0) translateZ(0);
      transform: scaleX(0) translateZ(0);
      -webkit-transform-origin: left;
      transform-origin: left;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      will-change: transform;
    }
  }
}

.box .appointment-link{
  display: inline-flex;
  align-items: center;
  border: 2px solid #214C9E;
  border-radius: 32px;
  padding: 0 30px;
  height: 45px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: #214C9E;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;

  &:hover
  {
    color: #fff;
    background-color: #214C9E;
  }
}

.adaptive-box{
  @include mediaWidth_992{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center;
    background: #fff;
    transform: translateX(-30rem);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
    will-change: opacity, transform;
  }
}

.open_menu{
  pointer-events: auto;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
}

.adaptive-menu-container{
  @include mediaWidth_992{

    z-index: 100;

    flex-direction: column !important;

    align-items: center;
  }
  .menu-items{
    @include mediaWidth_992{
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}

.section-header{
  padding: 150px 0 260px;
  .row{
    @include mediaWidth_992{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
.section-text{
  width: (1470px / 12) * 7;
  padding-left: 15px;
  padding-right: 15px;
  @include mediaWidth_992{
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 8vmin;
  }
  .pretitle{
    display: block;
    font-weight: 400;
    //@include adaptive-font(30, 20);
    @include mediaWidth_992{
      font-size: 8vmin;
      line-height: 7.4666666667vmin;
      letter-spacing: 0.08vmin;

    }
    font-size: 1.875vw;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #fff;
  }
  .section-title{
    @include mediaWidth_992{
      margin: 8vmin 0 0;
      font-size: 10.6666666667vmin;
      line-height: 11.7333333333vmin;
      letter-spacing: 0.1333333333vmin;

    }
    margin: 50px 0 0;
    font-weight: 700;
    font-size: 4.3vw;
    line-height: 5.5vw;
    letter-spacing: 0.7px;
    color: #fff;
  }
  .subtitle{
    margin: 34px 0 0;
    font-weight: 700;
    font-size: 1.375vw;
    line-height: 28px;
    letter-spacing: 0.22px;
    color: #fff;
    @include mediaWidth_992{

      margin: 6.6666666667vmin 0 0;
      font-size: 5.8666666667vmin;
      line-height: 7.4666666667vmin;
      letter-spacing: 0.0586666667vmin;
    }
  }
  .links{
    margin-top: 77px;
    display: flex;

    @include mediaWidth_480{
      flex-wrap: wrap;
    }
    a:first-child{
      margin-right: 20px;
      color: #74B1E0;
      background-color: #fff;
      box-shadow: 0px 3px 16px #00000014;
      display: flex;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 32px;
      padding: 0 31px;
      height: 50px;
      font-weight: 700;
      font-size: 1vw;
      line-height: 20px;
      letter-spacing: 0.16px;
      text-decoration: none;
      transition: color 0.3s, background 0.3s, -webkit-box-shadow 0.3s;
      @include mediaWidth_992{
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.16px;
      }
      @include mediaWidth_624{
        margin-right: 0 !important;
      }
      @include mediaWidth_480{
        width: 100%;
        justify-content: center;
      }
      &:hover{
        color: #fff;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    a:last-child{

      @include mediaWidth_992{
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        letter-spacing: 0.16px !important;
      }
      @include mediaWidth_480{
        margin-top: 6.6666666667vmin;
        width: 100%;
        justify-content: center;
      }
      &:hover{
        color: #74B1E0 !important;
        background-color: #fff !important;
      }
    }
  }
}

.video{
  padding: 0 15px;
  width: (1470px / 12) * 5;
  height: 400px;
    .youtube-video{
      border-radius: 10px;
      box-shadow: 0px 0px 16px #214C9E29;
    }
  @include mediaWidth_992{
    padding-right: 0;
    padding-left: 0;
    height: 250px !important;
  }
}

.button_menu{
  display: none;
  @include mediaWidth_992{
    display: block;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background: none;
  }
  img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    transform: translate(-50%, -50%) translateZ(0);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity;
  }
  .button{
    width: 21px;
    height: 14px;
    z-index: 101;
  }
  .closes{
    width: 18px;
    height: 18px;
    z-index: 101;
  }
}
.section-offer{
  margin-top: -200px;

  .row{
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.card_reason{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: (1470px / 3) - 162;
  //max-width: (1470px / 3) - 40;
  flex-grow: 1;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
  padding: 80px 56px;
  border-radius: 10px;
  max-height: 100%;
  box-shadow: 0px 3px 8px #214C9E1A;
  text-align: center;
  background-color: #fff;
  @include mediaWidth_424{
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
img{
  width: 80px;
  height: 80px;
}
  h4{
    margin: 35px 0 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.3px;
    color: #243668;
    margin-bottom: auto;
  }
  p{
    margin: 30px 0 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;

  }
  .hover:hover{
    color: #214C9E !important;
    background: none !important;
  }
}


.section-welcome{
  margin-top: 100px;
  padding: 77px 0;
  background: #F9FBFF;
  .row{
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .img{
      @include mediaWidth_992{
        max-width: 250px;
      }
    }
  }
  .content-box{
    .welcome-title{
      margin: 0;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 0.45px;
      color: #021744;
      @include mediaWidth_992{
        margin-top: 40px;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.35px;
      }
    }
    p{
      margin: 27px 0 0;
      max-width: 692px;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.16px;
      color: #838FAE;
    }
  }
}

.section-comments{
  text-align: center;
  padding-top: 82px;
  &::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: calc(100% - 200px);
    background: linear-gradient(105deg, #74B1E0 0%, #609CCB 100%) 0% 0%;
  }
  .title-section{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  .reviews_text{
    margin: 25px auto 0;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #FFFFFF;
  }
.row{
  justify-content: center;
}
  .fb{
    flex-basis: (1200px / 3) - 30;
  }

  .dn{
    @include mediaWidth_992{
      display: none;
    }
  }
  .db{
    display: none;
    @include mediaWidth_992{
      display: block;
    }
  }


  .box-comment{
    position: relative;
    z-index: 2;
    margin: 66px auto 0;
    max-width: 1200px;
    @include mediaWidth_992{
      margin-bottom: 70px;
    }
  }
  .block-comment{

    background: #fff;
    padding: 28px;
    border-radius: 10px;
    margin: 0 15px;
@include mediaWidth_992{
  margin: 0;
}
    //height: 100%;
    .portrait{
      position: absolute;
      z-index: 2;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 16px #214C9E29;
      box-shadow: 0px 0px 16px #214C9E29;
      right: 50%;
      transform: translateX(50%);
      top: -40px;
    }

    .name{
      margin-top: 28px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0px;
      color: #021744;
    }
      .rating{
        display: flex;
        justify-content: center;
        margin-top: 14px;
        span{
          margin: 0 3px;
        }
      }
    .comment{
      margin: 18px auto 0;
      max-width: 280px;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0px;
      color: #323B4B;
    }
    .google{
      margin-top: 25px;
    }
  }
}

.box-comment_video{
  margin-top: 50px;

    @include mediaWidth_700{
      flex-direction: column;

  }
.block-comment_video{
  margin-right: 15px;
  margin-left: 15px;
  flex-basis: (1200px / 2) - 30;
  @include mediaWidth_700{
    max-height: 500px !important;

  }
  .row{
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;


  }
  .name{

    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #021744;

  }
  .stars_comment-video{
    text-align: left;
  }
}
.container-video-comment{

  overflow: hidden;
  border-radius: 10px;
  width: 100% !important;
  height: 330px !important;
  -webkit-box-shadow: 0px 0px 16px #214C9E29;
  box-shadow: 0px 0px 16px #214C9E29;
}
}

.swiper-container{
  overflow: visible !important;
}
.swiper-slide{
  height: auto !important;
}

.swiper-button-prev{
  img{
    transform: rotate(180deg);
  }

}


.swiper-button-next,
.swiper-button-prev{
  display: none;
  bottom: -30px;
  z-index: 2;
  overflow: hidden;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  cursor: pointer;
  @include mediaWidth_992{
    display: inline-block;
  }
}

.swiper-button-prev{
  margin-left: 15px;
}

.swiper-button-next{
  img:last-child{
    position: absolute;
    z-index: -1;
    right: 50%;
    transform: translateX(50%);
  }
  transition: .4s;
}
.swiper-button-prev{
 .rotate{
    position: absolute;
    z-index: -1;
    right: 50%;
    transform: translateX(50%) rotate(180deg) !important;

  }
   transition: .4s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
  background: #214C9E;
  img:first-child{
    z-index: -1;
  } img:last-child{
    z-index: 1;
  }
}

.section-reason{
  margin-top: 90px;
  text-align: center;
  .title-section{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #021744;
  }
  .reviews_text{
    margin: 25px auto 0;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;
  }
  .row{
    justify-content: space-around;
  }

  .bg-container{
    box-shadow: 0px 3px 16px #214C9E29;
    border-radius: 10px;
    background-color: #fff;
flex-wrap: wrap;
    margin-top: 61px;
    .card{
      //flex-basis: (1470px / 3) - 30;
      padding: 75px 15px;
      text-align: center;
      h5{
        margin: 15px 0 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.2px;
        color: #243668;
      }
      p{
        margin: 25px auto 0;
        max-width: 258px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.15px;
        color: #838FAE;
      }
    }
  }
}


.section-appointment{
  margin-top: 50px;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      margin-top: -150px;
      height: 300px;
      background: url(../images/book.svg) no-repeat center;
      background-size: cover;
      z-index: 0;
      @include mediaWidth_992{
        height: calc(100% - 100px);
      }

    }
  .box-link-appointment{
    margin: 0 auto;
    @include mediaWidth_992{
      text-align: center;
    }
    @include mediaWidth_700{
      margin-bottom: 50px;
    }
  }

  .row{
    align-items: center;
    justify-content: space-around;
    @include mediaWidth_992{
      flex-wrap: wrap;
    }
  }
  .img-section{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 500px;
    @include mediaWidth_700{
      text-align: center;
    }

    img{
      width: 100%;
      @include mediaWidth_700{
        max-width: 250px;
        text-align: center;
      }
    }
  }
  .title-section-appointment{
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    @include mediaWidth_700{
      font-size: 40px;
      line-height: 48px;
    }
  }
}

.section-appointment-link:hover{
  color: #6AA6D5 !important;
  background-color: #fff;
}

.section-services{
  margin-top: 60px;
  padding-top: 0;
  .row{
    flex-wrap: wrap;
    justify-content: center;
  }
  .w1200{
    max-width: 1200px;
  }
  .title-section{

    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .reviews_text{
    margin: 25px auto 55px;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    text-align: center;
    color: #838FAE;
  }

  .Link_services{
    flex-basis: (1200px / 2) - 200px;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    @include mediaWidth_424{
      padding-left: 0;
      padding-right: 0;
    }
    img{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      width: 36px;
      height: 36px;
    }
   .link{

     margin-bottom: 2px;
     padding: 10px 70px 10px 23px;
     min-height: 70px;
     background: #F3F7FF;
     border-radius: 10px;
     display: flex;
     align-items: center;
     text-decoration: none;
      &::before{
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: url("../images/arrow.svg") no-repeat center;
        background-size: cover;

        transform: scale(-1, 1) translateZ(0);

        transition: transform 0.3s;

        will-change: transform;
      }
     &:hover::before{
       transform: scale(-1, 1) translateX(-5px) translateZ(0);
     }
     h4{
       margin: 0;
       max-width: calc(100% - 56px);
       font-weight: 700;
       font-size: 16px;
       line-height: 1.2;
       letter-spacing: 0.16px;
       color: #243668;
     }
    }
  }
}

.section-team{
  .title-section{
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .box-img-team{
    max-width: 852px;
    margin: 0 auto;
    img{
      width: 100%;
    }
  }
}

.section-map{
  .container{
    @include mediaWidth_424{
      padding: 0;
    }
    a{
      @include mediaWidth_424{
        border-radius: 0;
      }
    }
  }
  .w1200{
    max-width: 1200px;
  }
  a{
    overflow: hidden;
    display: block;
    border-radius: 10px;
    width: 100%;
    transition: .3s;
    filter: blur(0);
    z-index: 10;
    &:hover{
      transition: .3s;
      img{
        transform: scale(1.05);
        transition: transform .3s;
      }
    }
    img{
      display: block;
      width: 100%;
      height: auto;
      transform: translateZ(0);
      will-change: transform, opacity;
      transition: transform 0.3s, opacity 0.3s !important;
    }
  }
}

.site-footer{
  margin-top: -140px;
  padding-top: 227px;
  padding-bottom: 86px;
  background: linear-gradient(113deg, #74B1E0 0%, #609CCB 100%);

  .footer-logo{
    margin-top: 70px;
    text-align: center;
    display: block;
    p{
      margin-top: 32px;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0px;
      text-decoration: none;
      color: #FFFFFF;
    }
  }

  .row{
    justify-content: space-around;
    @include mediaWidth_700{
      flex-direction: column;
    }
  }

  h5{
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #FFFFFF;
  }
  .box-menu-footer{
    @include mediaWidth_700{
      margin-bottom: 30px;
    }
    a{
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0px;
      color: #fff;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;

    }
  }
  .box-working-hours{
    @include mediaWidth_700{
      margin-bottom: 30px;
    }
    li{
      display: flex;
      justify-content: space-between;
      width: 250px;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0px;
      color: #fff;
      span:last-child{
        flex-basis: 60%;
      }
      &:last-child{
        strong{
          margin-left: auto;
          flex-basis: 60%;
        }
      }
    }
  }
  .footer-contact-box{
    @include mediaWidth_700{
      margin-bottom: 30px;
    }
    li{
      display: flex;
      align-items: flex-start;
      margin-top: 15px;
      text-decoration: none;
      img{
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 5px;
      }
      a{
        margin: 0;
        max-width: 195px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #FFFFFF;
      }
    }
  }
}

.promotions{
  margin-top: 0 !important;
  .title-section{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .reviews_text{
    margin: 24px auto 0;
    max-width: 696px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    text-align: center;
    color: #838FAE;
    margin-bottom: 50px !important;
  }
  .card_reason{
    padding-top: 50px !important;
    justify-content: flex-start;
  }
  h4{
    margin-bottom: 0 !important;
  }
  p{
    margin-bottom: auto !important;
  }
}


.section-header-about-us{
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background: url("../images/about-screen-bg.svg") no-repeat center;
  background-size: cover;
  @include mediaWidth_992{
    margin-top: 80px;
  } @include mediaWidth_480{
        padding: 20px 0;
  }
  .w1200{
    max-width: 1200px;
  }
  h2{
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 678px;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
  }
  h3{
    position: relative;
    z-index: 5;
    margin: 25px 0 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.22px;
    color: #FFFFFF;
  }
  .image-box{
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    pointer-events: none;
    img{
      display: block;
      height: 100%;
      width: auto;
    }
  }
}

.section-welcome-about-us{
  padding: 60px 0 65px;
  text-align: center;

  .w1200{
    max-width: 1200px;
  }
  .welcome-title{
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #021744;
  }
  p{
    margin: 25px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;
  }
}

.section-insurances{
  padding: 85px 0;
  text-align: center;
  background: linear-gradient(123deg, #74B1E0 0%, #609CCB 100%);
    .w1200{
      max-width: 1200px;
    }
  .row{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .title-section{
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .reviews_text{
    margin: 25px auto 0;
    max-width: 696px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #fff;
  }
  .insurances-item{
    flex-basis: (1200px / 4) - 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 15px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 0 29px;
    height: 200px;
    -webkit-box-shadow: 0px 3px 16px #214C9E29;
    box-shadow: 0px 3px 16px #214C9E29;
    background: linear-gradient(127deg, #CCE9FF 0%, #FAFDFF 100%);
    h6{
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.2px;
      color: #021744;
    }
  }
}


.section-our-doctors{
  .w1200{
    max-width: 1200px;
    .row{
      justify-content: space-around;
      align-items: center;
      @include mediaWidth_992{
        flex-direction: column-reverse !important;
      }
    }
    .row-reverse{
      flex-direction: row-reverse;
    }
  }

  .text-box{
    padding-top: 40px;
    padding-bottom: 75px;
    flex-basis: (1200px / 2) - 80px;

      .dds_pretitle{
        margin: 0;
        font-weight: 700;
        font-size: 25px;
        line-height: 1.2;
        letter-spacing: 0.25px;
        color: #214C9E;
      }
      .dds_title{
        margin-top: 10px;
        font-weight: 700;
        font-size: 35px;
        line-height: 1.2;
        letter-spacing: 0.35px;
        color: #021744;
      }
      .dds_text{
        margin: 25px 0 0;
        padding-right: 30px;
        font-weight: 600;
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.14px;
        color: #838FAE;
      }
    }
  .photo-box{
    max-width: (1200px / 2) - 40px;
    img{
      display: block;
      max-width: 361px;
    }
  }
}


.section-gallery{
  .title-section{
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .w1200{
    max-width: 1200px;
  }
  .box-gallery{
    overflow: hidden !important;
    .block-gallery{
      height: 400px !important;
      cursor: pointer;
      &:hover{
        .zoom{
          opacity: 1;
        }
      }
      .container-block-gallery{
        width: 100%;
        height: 100%;
      }
     .zoom{
       position: absolute;
       left: 50%;
       top: 50%;
       z-index: 2;
       margin-top: -32.5px;
       margin-left: -32.5px;
       width: 65px !important;
       height: 65px !important;
       background: url("../images/zoom.svg") no-repeat center;
       background-size: cover;
       opacity: 0;
       transition: opacity 0.3s;
     }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;

      }
    }
  }
}

.container-popup-image{
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  img{
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2;
    width: calc(100% - 100px);
    height: calc(100% - 150px);
    background-color: #fff;
    object-fit: cover;
  }
}

.open-popup-gallery{
  opacity: 1 !important;
  z-index: 1000000;
}

.gallery-close{
  position: fixed;
  right: 0;
  top: 20px;
  z-index: 1000001;
  width: 60px;
  height: 60px;
  background: url("../images/close-white.svg") no-repeat center;
  background-size: 30px 30px;
  transform: translateZ(0);
  transition: transform 0.3s;
  will-change: transform;
  cursor: pointer;
  &:hover{
    transform: rotate(90deg) translateZ(0);
  }
}

.section-emergency-dentistry{
  .welcome-title{
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #021744;
  }
  p{
    text-align: center;
    max-width: 1170px;
    margin: 25px auto 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;
  }
}

.section-one{
  .w1200{
    max-width: 1200px;
  }
  .bg{

    border-radius: 10px;
    padding: 75px 35px 70px;
    -webkit-box-shadow: 0px 3px 16px #214C9E29;
    box-shadow: 0px 3px 16px #214C9E29;
    text-align: center;
    background: url("../images/should-know-bg.svg") no-repeat left center;
    background-size: cover;
    h2{
      margin: 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.4px;
      color: #FFFFFF;
    }
    p{
      margin: 33px 0 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.16px;
      color: #FFFFFF;
    }
  }
}

.section-question-two{

  .w1200{
    max-width: 1200px;
  }
  .section-title{
    margin: 0 0 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.35px;
    color: #021744;
  }
  .reviews_text{
    display: block;
    margin-bottom: 30px;
    padding-left: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;
  }

}
.border-left{
  position: relative;
  margin: 0 0 22px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: #000000;
  border-left: 7px solid #74B1E0;
  p{
    margin-bottom: 18px !important;
    color: #333 !important;
  }
}

.question-box{
  flex-basis: 830px;
  h2{
    margin: 0 0 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.35px;
    color: #021744;
  }
  p{
    display: block;
    margin-bottom: 30px;
    padding-left: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838FAE;
  }
  .box-question-img{

  }
}
.section-question-three{
  .w1200{
    max-width: 1200px;
  }
  .row{
    justify-content: space-around;
    @include mediaWidth_992{
      flex-wrap: wrap;
    }
  }
}


.call{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 64px;
  border-radius: 10px 10px 0 0;
  background: #214C9E;
  -webkit-box-shadow: 0px 3px 16px #214C9E1A;
  box-shadow: 0px 3px 16px #214C9E1A;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transform: rotate(-90deg) translateY(85px) translateX(32px);
  transform: rotate(-90deg) translateY(85px) translateX(32px);
&:hover{
  .call_icon{
    transform: rotate(45deg) translateZ(0);
  }
}
  .call_icon{
    margin-right: 5px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(90deg) translateZ(0);
    transform: rotate(90deg) translateZ(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;

  }
}