@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts.scss";
@import "utils/reset";

html {
  font-family: $mainFont;
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  overflow-x: hidden;

  @media screen and (max-width: $desktopWidth) {
    font-size: 16px;
  }

  @media screen and (max-width: $tableWidth) {
    font-size: 15px;
  }

  @media screen and (max-width: $phoneWidth) {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  transition: 0.3s;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font-family: $mainFont;
}
*:not(picture) {
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #002833;
  font-family: $headingFonts;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 18px;
  color: #333;
}
a {
  display: inline-block;
}

section,
.section {
  position: relative;
  padding: 40px 0;

  @media screen and (max-width: $smDesktopWidth) {
    padding: 36px 0;
  }

  @media screen and (max-width: $tableWidth) {
    padding: 28px 0;
  }

  @media screen and (max-width: $phoneWidth) {
    padding: 20px 0;
  }
}

.container {
  max-width: 1470px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  @include mediaWidth_992 {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 15;
  }
}

header .container .box {
  @include mediaWidth_992 {
    position: static;
    padding-bottom: 20px !important;
    padding-top: 20px !important;
  }
}

.row {
  display: flex;
}

.active-page-link::before {
  transform: scaleX(1) translateZ(0) !important;
}

.logo {
  z-index: 101;
  img {
    @include mediaWidth_992 {
      max-width: 150px;
    }
  }
}

.item-link-menu {
  margin: 7.5px;
  .link-menu {
    position: relative;
    padding: 5px 0;
    font-weight: 600;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-decoration: none;
    color: #021744;
    white-space: nowrap;
    &:hover::before {
      transform: scaleX(1) translateZ(0);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #214c9e;
      -webkit-transform: scaleX(0) translateZ(0);
      transform: scaleX(0) translateZ(0);
      -webkit-transform-origin: left;
      transform-origin: left;
      -webkit-transition: -webkit-transform 0.3s;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      will-change: transform;
    }
  }
}

.box .appointment-link {
  display: inline-flex;
  align-items: center;
  border: 2px solid #214c9e;
  border-radius: 32px;
  padding: 0 30px;
  height: 45px;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.15px;
  text-decoration: none;
  color: #214c9e;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;

  &:hover {
    color: #fff;
    background-color: #214c9e;
  }
}

.adaptive-box {
  @include mediaWidth_992 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center !important;
    align-items: center;
    background: #fff;
    transform: translateX(-30rem);
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.4s, transform 0.4s, -webkit-transform 0.4s;
    will-change: opacity, transform;
  }
}

.open_menu {
  pointer-events: auto;
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.4s, transform 0.4s;
}

.adaptive-menu-container {
  @include mediaWidth_992 {
    z-index: 100;

    flex-direction: column !important;

    align-items: center;
  }
  .menu-items {
    // List
    ul,
    li {
      list-style-type: none;
    }
    @include mediaWidth_992 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}

.section-header {
  padding: 6em 0;
  @media screen and (min-width: 480px) {
    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.184) 35.6%,
      rgba(0, 0, 0, 0.38) 100%
    ) !important;
  }

  .row {
    @include mediaWidth_992 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  @include mediaWidth_992 {
    .section-text {
      margin-top: 2em;
    }
  }

  @include mediaWidth_480 {
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;

    .links {
      margin-bottom: -1.8em;
    }
    video {
      min-width: 60%;
    }
  }
}
.section-text {
  width: (1470px / 12) * 7;
  padding-left: 15px;
  padding-right: 15px;
  @include mediaWidth_992 {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 8vmin;
  }
  .pretitle {
    display: block;
    font-weight: 400;
    //@include adaptive-font(30, 20);
    @include mediaWidth_992 {
      font-size: 8vmin;
      line-height: 7.4666666667vmin;
      letter-spacing: 0.08vmin;
    }
    font-size: 1.875vw;
    line-height: 28px;
    letter-spacing: 0.3px;
    color: #fff;
  }
  .section-title {
    @include mediaWidth_992 {
      margin: 8vmin 0 0;
      font-size: 10.6666666667vmin;
      line-height: 11.7333333333vmin;
      letter-spacing: 0.1333333333vmin;
    }
    margin: 50px 0 0;
    font-weight: 700;
    font-size: 4.3vw;
    line-height: 5.5vw;
    letter-spacing: 0.7px;
    color: #fff;
  }
  .subtitle {
    margin: 34px 0 0;
    font-weight: 700;
    font-size: 1.375vw;
    line-height: 28px;
    letter-spacing: 0.22px;
    color: #fff;
    @include mediaWidth_992 {
      margin: 6.6666666667vmin 0 0;
      font-size: 5.8666666667vmin;
      line-height: 7.4666666667vmin;
      letter-spacing: 0.0586666667vmin;
    }
  }
  .links {
    margin-top: 2.5em;
    display: flex;

    @include mediaWidth_480 {
      flex-wrap: wrap;
    }
    a:first-child {
      margin-right: 20px;
      color: #74b1e0;
      background-color: #fff;
      box-shadow: 0px 3px 16px #00000014;
      display: flex;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 32px;
      padding: 0 31px;
      height: 50px;
      font-weight: 700;
      font-size: 1vw;
      line-height: 20px;
      letter-spacing: 0.16px;
      text-decoration: none;
      transition: color 0.3s, background 0.3s, -webkit-box-shadow 0.3s;
      @include mediaWidth_992 {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.16px;
      }
      @include mediaWidth_624 {
        margin-right: 0 !important;
      }
      @include mediaWidth_480 {
        width: 100%;
        justify-content: center;
      }
      &:hover {
        color: #fff;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    a:last-child {
      @include mediaWidth_992 {
        font-weight: 700 !important;
        font-size: 16px !important;
        line-height: 20px !important;
        letter-spacing: 0.16px !important;
      }
      @include mediaWidth_480 {
        margin-top: 6.6666666667vmin;
        width: 100%;
        justify-content: center;
      }
      &:hover {
        color: #74b1e0 !important;
        background-color: #fff !important;
      }
    }
  }
}

.video {
  padding: 0 15px;
  width: (1470px / 12) * 5;
  height: 400px;
  .youtube-video {
    border-radius: 10px;
    box-shadow: 0px 0px 16px #214c9e29;
  }
  @include mediaWidth_992 {
    padding-right: 0;
    padding-left: 0;
    height: 250px !important;
  }
}

.button_menu {
  display: none;
  @include mediaWidth_992 {
    display: block;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    background: none;
  }
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    transform: translate(-50%, -50%) translateZ(0);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    will-change: opacity;
  }
  .button {
    width: 21px;
    height: 14px;
    z-index: 101;
  }
  .closes {
    width: 18px;
    height: 18px;
    z-index: 101;
  }
}
.section-offer {
  margin-top: -6em;
  .row {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.card_reason {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: (1470px / 3) - 162;
  flex-grow: 1;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 20px;
  position: relative;
  padding: 80px 56px;
  border-radius: 10px;
  border: 1px solid #74b1e0;
  max-height: 100%;
  box-shadow: 0px 3px 8px #214c9e1a;
  text-align: center;
  background-color: #fff;
  @include mediaWidth_424 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  img {
    width: 80px;
    height: 80px;
  }
  h4 {
    margin: 35px 0 0;
    font-weight: 700;
    font-size: 23px;
    line-height: 38px;
    letter-spacing: 0.3px;
    color: #243668;
    margin-bottom: auto;
  }
  p {
    min-height: 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
  .hover:hover {
    color: #214c9e !important;
    background: none !important;
  }
}

.section-welcome {
  margin-top: 100px;
  padding: 77px 0;
  background: #f9fbff;
  .row {
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    .img {
      @include mediaWidth_992 {
        max-width: 250px;
      }
    }
  }
  .content-box {
    .welcome-title {
      margin: 0;
      font-weight: 700;
      font-size: 45px;
      line-height: 55px;
      letter-spacing: 0.45px;
      color: #021744;
      @include mediaWidth_992 {
        margin-top: 40px;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: 0.35px;
      }
    }
    p {
      margin: 27px 0 0;
      max-width: 692px;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.16px;
      color: #838fae;
    }
  }
}

.section-comments {
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: calc(100% - 200px);
    background: linear-gradient(105deg, #74b1e0 0%, #609ccb 100%) 0% 0%;
  }

  .title-section {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  .reviews_text {
    margin: 25px auto 0;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #ffffff;
  }
  .row {
    justify-content: center;
  }

  // .dn {
  //   @include mediaWidth_992 {
  //     display: none;
  //   }
  // }
  .db {
    display: none;
    @include mediaWidth_992 {
      display: block;
    }
  }

  .box-comment {
    position: relative;
    z-index: 2;
    margin: 66px auto 0;
    max-width: 1220px;
    margin-bottom: 70px;
    @include mediaWidth_992 {
      margin-bottom: 70px;
    }
  }
  .block-comment {
    background: #fff;
    padding: 28px;
    border-radius: 10px;
    margin: 2.5em 30px 0 0;
    flex-basis: (1230px / 3) - 30;

    @include mediaWidth_992 {
      margin-top: 2.8em !important;
      flex-basis: calc(92% / 2) !important;
      margin-right: 2% !important;
      margin-left: 2% !important;
    }
    @include mediaWidth_480 {
      margin-top: 2.8em !important;
      flex-basis: 94% !important;
      margin-right: 3% !important;
      margin-left: 3% !important;
    }
    .portrait {
      position: absolute;
      z-index: 2;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 16px #214c9e29;
      box-shadow: 0px 0px 16px #214c9e29;
      right: 50%;
      transform: translateX(50%);
      top: -40px;
    }

    .name {
      margin-top: 28px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0px;
      color: #021744;
    }
    .rating {
      display: flex;
      justify-content: center;
      margin-top: 14px;
      span {
        margin: 0 3px;
      }
    }
    .comment {
      margin: 18px auto 0;
      max-width: 280px;
      font-weight: 400;
      font-size: 15px;
      line-height: 26px;
      letter-spacing: 0px;
      color: #323b4b;
    }
    .google {
      margin-top: 25px;
    }
  }
}
.show-header {
  padding-top: 82px;
}
.box-comment_video {
  margin-top: 50px;

  @include mediaWidth_700 {
    flex-direction: column;
  }
  .block-comment_video {
    margin-right: 15px;
    margin-left: 15px;
    flex-basis: (1200px / 2) - 30;
    @include mediaWidth_700 {
      max-height: 450px !important;
    }
    .row {
      justify-content: space-between;
      align-items: center;
      margin-top: 18px;
    }
    .name {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0px;
      color: #021744;
    }
    .stars_comment-video {
      text-align: left;
    }
  }
  .container-video-comment {
    overflow: hidden;
    border-radius: 10px;
    width: 100% !important;
    height: 330px !important;
    -webkit-box-shadow: 0px 0px 16px #214c9e29;
    box-shadow: 0px 0px 16px #214c9e29;
  }
}

.swiper-slide {
  height: auto !important;
}

// .swiper-button-prev {
//   img {
//     transform: rotate(180deg);
//   }
// }

// .swiper-button-next,
// .swiper-button-prev {
//   bottom: -30px;
//   z-index: 2;
//   overflow: hidden;
//   border: none;
//   border-radius: 50%;
//   padding: 0;
//   width: 50px;
//   height: 50px;
//   font-size: 0;
//   cursor: pointer;
// }

// .swiper-button-prev {
//   margin-left: 15px;
// }

// .swiper-button-next {
//   img:last-child {
//     position: absolute;
//     z-index: -1;
//     right: 50%;
//     transform: translateX(50%);
//   }
//   transition: 0.4s;
// }
// .swiper-button-prev {
//   .rotate {
//     position: absolute;
//     z-index: -1;
//     right: 50%;
//     transform: translateX(50%) rotate(180deg) !important;
//   }
//   transition: 0.4s;
// }

// .swiper-button-next:hover,
// .swiper-button-prev:hover {
//   background: #214c9e;
//   img:first-child {
//     z-index: -1;
//   }
//   img:last-child {
//     z-index: 1;
//   }
// }

.section-reason {
  margin-top: 90px;
  text-align: center;
  .title-section {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 0.5px;
    color: #021744;
  }
  .reviews_text {
    margin: 25px auto 0;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
  .row {
    justify-content: space-around;
  }

  .bg-container {
    box-shadow: 0px 3px 16px #214c9e29;
    border-radius: 10px;
    background-color: #fff;
    flex-wrap: wrap;
    margin-top: 61px;
    .card {
      //flex-basis: (1470px / 3) - 30;
      padding: 75px 15px;
      text-align: center;
      h5 {
        margin: 15px 0 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.2px;
        color: #243668;
      }
      p {
        margin: 25px auto 0;
        max-width: 258px;
        font-weight: 600;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: 0.15px;
        color: #838fae;
      }
    }
  }
}

.section-appointment {
  margin-bottom: 2em;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    margin-top: -150px;
    height: 300px;
    background: url(../images/book.svg) no-repeat center;
    background-size: cover;
    z-index: 0;
    @include mediaWidth_992 {
      height: calc(100% - 100px);
    }
  }
  .box-link-appointment {
    margin: 0 auto;
    @include mediaWidth_992 {
      text-align: center;
    }
    @include mediaWidth_700 {
      margin-bottom: 50px;
    }
  }

  .row {
    align-items: center;
    justify-content: space-around;
    @include mediaWidth_992 {
      flex-wrap: wrap;
    }
  }
  .img-section {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: 500px;
    @include mediaWidth_700 {
      text-align: center;
    }

    img {
      width: 100%;
      @include mediaWidth_700 {
        max-width: 250px;
        text-align: center;
      }
    }
  }
  .title-section-appointment {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    color: #ffffff;
    @include mediaWidth_700 {
      font-size: 40px;
      line-height: 48px;
    }
  }
}

// .noMarginTop {
//   padding-top: 0;
//   background: #74b1e0;
//   padding-bottom: 0;
//   margin-bottom: 50px;
//   .section-appointment-link {
//     margin-bottom: 1em;
//   }

//   &::before {
//     margin-top: -180px;
//     height: 375px;
//     @include mediaWidth_992 {
//       height: calc(100% - 100px);
//       background: none;
//     }

//     @include mediaWidth_480 {
//       background: url(../images/book.svg) no-repeat center;
//     }
//   }
// }

.section-appointment-link:hover {
  color: #6aa6d5 !important;
  background-color: #fff;
}

.section-services {
  margin-top: 60px;
  padding-top: 0;
  .row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .w1200 {
    max-width: 1200px;
  }
  .title-section {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .reviews_text {
    margin: 25px auto 55px;
    max-width: 700px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    text-align: center;
    color: #838fae;
  }

  .Link_services {
    flex-basis: (1200px / 2) - 200px;
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    @include mediaWidth_424 {
      padding-left: 0;
      padding-right: 0;
    }
    img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 20px;
      width: 36px;
      height: 36px;
    }
    .link {
      margin-bottom: 2px;
      padding: 10px 70px 10px 23px;
      min-height: 70px;
      background: #f3f7ff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -12px;
        width: 24px;
        height: 24px;
        background: url("../images/arrow.svg") no-repeat center;
        background-size: cover;

        transform: scale(-1, 1) translateZ(0);

        transition: transform 0.3s;

        will-change: transform;
      }
      &:hover::before {
        transform: scale(-1, 1) translateX(-5px) translateZ(0);
      }
      h4 {
        margin: 0;
        max-width: calc(100% - 56px);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.16px;
        color: #243668;
      }
    }
  }
}

.section-team {
  .title-section {
    margin: 0 0 30px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .box-img-team {
    max-width: 852px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}

.section-map {
  .container {
    @include mediaWidth_424 {
      padding: 0;
    }
    a {
      @include mediaWidth_424 {
        border-radius: 0;
      }
    }
  }
  .w1200 {
    max-width: 1200px;
  }
  a {
    overflow: hidden;
    display: block;
    border-radius: 10px;
    width: 100%;
    transition: 0.3s;
    filter: blur(0);
    z-index: 10;
    &:hover {
      transition: 0.3s;
      img {
        transform: scale(1.05);
        transition: transform 0.3s;
      }
    }
    img {
      display: block;
      width: 100%;
      height: auto;
      transform: translateZ(0);
      will-change: transform, opacity;
      transition: transform 0.3s, opacity 0.3s !important;
    }
  }
}

.site-footer {
  margin-top: -140px;
  padding-top: 227px;
  padding-bottom: 86px;
  background: linear-gradient(113deg, #74b1e0 0%, #609ccb 100%);

  .footer-logo {
    margin-top: 70px;
    text-align: center;
    display: block;
    p {
      margin-top: 32px;
      font-weight: 400;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0px;
      text-decoration: none;
      color: #ffffff;
    }
  }

  .row {
    justify-content: space-around;
    @include mediaWidth_700 {
      flex-direction: column;
    }
  }

  h5 {
    margin: 0 0 5px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    color: #ffffff;
  }
  .box-menu-footer {
    ul,
    li {
      list-style-type: none;
    }
    @include mediaWidth_700 {
      margin-bottom: 30px;
    }
    a {
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0px;
      color: #fff;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
    }
  }
  .box-working-hours {
    @include mediaWidth_700 {
      margin-bottom: 30px;
    }
    li {
      display: flex;
      justify-content: space-between;
      width: 250px;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 0px;
      color: #fff;
      span:last-child {
        flex-basis: 60%;
      }
      &:last-child {
        strong {
          margin-left: auto;
          flex-basis: 60%;
        }
      }
    }
  }
  .footer-contact-box {
    @include mediaWidth_700 {
      margin-bottom: 30px;
    }
    li {
      display: flex;
      align-items: flex-start;
      margin-top: 15px;
      text-decoration: none;
      img {
        display: flex;
        justify-content: center;
        width: 20px;
        margin-right: 5px;
      }
      a {
        margin: 0;
        max-width: 195px;
        font-weight: 700;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        color: #ffffff;
      }
    }
  }
}

.promotions {
  margin-top: 0 !important;
  .title-section {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .reviews_text {
    margin: 24px auto 0;
    max-width: 696px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    text-align: center;
    color: #838fae;
    margin-bottom: 50px !important;
  }
  .card_reason {
    padding-top: 50px !important;
    justify-content: flex-start;
  }
  h4 {
    margin-bottom: 0 !important;
  }
  p {
    margin-bottom: auto !important;
  }
}

.section-header-about-us {
  background: #74b1e0;
  position: relative;
  overflow: hidden;
  padding: 90px 0;
  background: url("../images/about-screen-bg.svg") no-repeat center;
  background-size: cover;
  @include mediaWidth_992 {
    margin-top: 80px;
  }
  @include mediaWidth_480 {
    padding: 20px 0;
  }
  .w1200 {
    max-width: 1200px;
  }
  h2 {
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 678px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 61px;
    letter-spacing: 0.5px;
    color: #ffffff;
  }
  h3 {
    position: relative;
    z-index: 5;
    margin: 25px 0 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0.22px;
    color: #ffffff;
  }
  .image-box {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    height: 100%;
    pointer-events: none;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }

  .image-centered {
    right: 20vw;

    @include mediaWidth_992 {
      right: 0;
    }
  }
}

.header-centered {
  h2,
  h3 {
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
}

.section-team-info {
  padding: 60px 0 65px;
  color: #021744;
  font-weight: 600;

  p {
    color: #838fae;
    line-height: 175.9%;
  }

  .w1200 {
    max-width: 1200px;
  }
  .guglielmi-info {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;

    ul {
      margin-right: 2em;
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }

    li {
      margin: 10px 0;
      white-space: nowrap;
      padding-left: 1em;
      text-indent: -1em;
      font-size: 0.9rem;
    }

    li:before {
      content: "»";
      padding-right: 5px;
      transform: scale(0.5);
    }

    @include mediaWidth_700 {
      flex-direction: column;
      iframe {
        margin-top: 2em;
      }
    }
  }
}

.section-welcome-about-us {
  padding: 65px 0 65px;
  text-align: center;

  .w1200 {
    max-width: 1200px;
  }
  .welcome-title {
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #021744;
  }
  p {
    margin: 25px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
}

.section-insurances {
  padding: 85px 0;
  text-align: center;
  background: linear-gradient(123deg, #74b1e0 0%, #609ccb 100%);
  .w1200 {
    max-width: 1200px;
  }
  .row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .title-section {
    margin: 0;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .reviews_text {
    margin: 25px auto 0;
    max-width: 696px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #fff;
  }
  .insurances-item {
    flex-basis: (1200px / 4) - 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 15px;
    margin-top: 30px;
    border-radius: 10px;
    padding: 0 29px;
    height: 200px;
    -webkit-box-shadow: 0px 3px 16px #214c9e29;
    box-shadow: 0px 3px 16px #214c9e29;
    background: linear-gradient(127deg, #cce9ff 0%, #fafdff 100%);
    h6 {
      margin: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0.2px;
      color: #021744;
    }
  }
  .reviews_text {
    margin-bottom: 2em;
  }
}

.section-our-doctors {
  .w1200 {
    max-width: 1200px;
    .row {
      justify-content: space-around;
      align-items: center;
      @include mediaWidth_992 {
        flex-direction: column-reverse !important;
      }
    }
    .row-reverse {
      flex-direction: row-reverse;
    }
  }

  .text-box {
    padding-top: 40px;
    padding-bottom: 75px;
    flex-basis: (1200px / 2) - 80px;

    .dds_pretitle {
      margin: 0;
      font-weight: 700;
      font-size: 25px;
      line-height: 1.2;
      letter-spacing: 0.25px;
      color: #214c9e;
    }
    .dds_title {
      margin-top: 10px;
      font-weight: 700;
      font-size: 35px;
      line-height: 1.2;
      letter-spacing: 0.35px;
      color: #021744;
    }
    .dds_text {
      margin: 25px 0 0;
      padding-right: 30px;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.14px;
      color: #838fae;
    }
  }
  .photo-box {
    max-width: (1200px / 2) - 40px;
    img {
      display: block;
      max-width: 361px;
    }
  }
}

.section-gallery {
  .title-section {
    margin: 0 0 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 1.2;
    letter-spacing: 0.5px;
    text-align: center;
    color: #021744;
  }
  .w1200 {
    max-width: 1200px;
  }
  .box-gallery {
    overflow: hidden !important;
    .block-gallery {
      height: 400px !important;
      cursor: pointer;
      &:hover {
        .zoom {
          opacity: 1;
        }
      }
      .container-block-gallery {
        width: 100%;
        height: 100%;
      }
      .zoom {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        margin-top: -32.5px;
        margin-left: -32.5px;
        width: 65px !important;
        height: 65px !important;
        background: url("../images/zoom.svg") no-repeat center;
        background-size: cover;
        opacity: 0;
        transition: opacity 0.3s;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

.container-popup-image {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
  opacity: 0;
  img {
    position: absolute;
    left: 50px;
    top: 100px;
    z-index: 2;
    width: calc(100% - 100px);
    height: calc(100% - 150px);
    background-color: #fff;
    object-fit: cover;
  }
}

.open-popup-gallery {
  opacity: 1 !important;
  z-index: 1000000;
}

.gallery-close {
  position: fixed;
  right: 0;
  top: 20px;
  z-index: 1000001;
  width: 60px;
  height: 60px;
  background: url("../images/close-white.svg") no-repeat center;
  background-size: 30px 30px;
  transform: translateZ(0);
  transition: transform 0.3s;
  will-change: transform;
  cursor: pointer;
  &:hover {
    transform: rotate(90deg) translateZ(0);
  }
}

.section-emergency-dentistry {
  .welcome-title {
    text-align: center;
    margin: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.4px;
    color: #021744;
  }
  p {
    text-align: center;
    max-width: 1170px;
    margin: 25px auto 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
}

.section-one {
  .w1200 {
    max-width: 1200px;
  }
  .bg {
    border-radius: 10px;
    padding: 75px 35px 70px;
    -webkit-box-shadow: 0px 3px 16px #214c9e29;
    box-shadow: 0px 3px 16px #214c9e29;
    text-align: center;
    background: url("../images/should-know-bg.svg") no-repeat left center;
    background-size: cover;
    h2 {
      margin: 0;
      font-weight: 700;
      font-size: 40px;
      line-height: 49px;
      letter-spacing: 0.4px;
      color: #ffffff;
    }
    p {
      margin: 33px 0 0;
      font-weight: 600;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: 0.16px;
      color: #ffffff;
    }
  }
}

.section-question-two {
  .w1200 {
    max-width: 1200px;
  }
  .section-title {
    margin: 0 0 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.35px;
    color: #021744;
  }
  .reviews_text {
    display: block;
    margin-bottom: 30px;
    padding-left: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
}
.border-left {
  position: relative;
  margin: 0 0 22px;
  padding-left: 27px;
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.16px;
  color: #000000;
  border-left: 7px solid #74b1e0;
  p {
    margin-bottom: 18px !important;
    color: #333 !important;
  }
}

.question-box {
  flex-basis: 830px;
  h2 {
    margin: 0 0 26px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.35px;
    color: #021744;
  }
  p {
    display: block;
    margin-bottom: 30px;
    padding-left: 27px;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.16px;
    color: #838fae;
  }
  .box-question-img {
  }
}
.section-question-three {
  .w1200 {
    max-width: 1200px;
  }
  .row {
    justify-content: space-around;
    @include mediaWidth_992 {
      flex-wrap: wrap;
    }
  }
}

.call {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 234px;
  height: 64px;
  border-radius: 10px 10px 0 0;
  background: #214c9e;
  -webkit-box-shadow: 0px 3px 16px #214c9e1a;
  box-shadow: 0px 3px 16px #214c9e1a;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transform: rotate(-90deg) translateY(85px) translateX(32px);
  transform: rotate(-90deg) translateY(85px) translateX(32px);
  @include mediaWidth_700 {
    bottom: 0;
    right: 0;
    padding: 0;
    top: auto;
    transform: none;
    border-radius: 50% 0 0;
    width: 50px;
    height: 50px;
    span {
      display: none;
    }
  }

  &:hover {
    .call_icon {
      transform: rotate(45deg) translateZ(0);
    }
  }
  .call_icon {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(90deg) translateZ(0);
    transform: rotate(90deg) translateZ(0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
  }
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;

  @include mediaWidth_480 {
    height: 62%;
    min-height: 62%;
  }
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 40px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  z-index: 10;
  display: flex;
  margin-left: 6em;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #021744;
  padding: 1.2em 1.6em;
  display: block;
  white-space: nowrap;
  text-transform: capitalize;
  font-size: 1rem;
}

.menu li a:hover {
  color: #214c9e;
}

.group-name {
  padding: 1.2em 1.6em;
  display: inline-block;
  color: #74b1e0;
}

.section-review-form {
  background: #74b1e0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    width: 30vw;
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    input,
    label,
    textarea,
    .rating-stars,
    .submit-btn {
      width: 90%;
      margin: auto;
    }
    input {
      padding: 0.7em 0.9em;
      margin-top: 1.5em;
    }
    label {
      margin-top: 1em;
      display: inline-block;
    }
    .rating-stars {
      margin-bottom: 1em;
    }
    textarea {
      min-height: 200px;
      padding: 0.7em 0.9em;
      margin-bottom: 1em;
    }
    .submit-btn {
      padding: 0.8em;
      background-color: #214c9e;
      color: white;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      margin-top: 1em;
      cursor: pointer;
      font-weight: 600;
    }
    @include mediaWidth_992 {
      width: 95vw;
    }
  }
  h2 {
    position: relative;
    z-index: 5;
    margin: 0;
    max-width: 678px;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 61px;
    letter-spacing: 0.5px;
    color: #021744;
    text-align: center;
  }
}

.section-contact-info {
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    min-height: 50vh;

    @include mediaWidth_992 {
      width: 95%;
    }

    @include mediaWidth_700 {
      flex-direction: column;
    }

    .contact-info,
    .contact-img {
      display: flex;
      flex-basis: 50%;
      justify-content: center;
    }

    .contact-info {
      flex-direction: column;
      line-height: 2rem;
      .details {
        li {
          display: flex;
          font-weight: 700;
          font-size: 14px;

          & a {
            color: black;
            margin-left: 1em;
            align-items: flex-start;
          }
        }
      }
      .box-working-hours {
        margin-top: 2em;
        h5 {
          font-weight: 800;
        }
        li {
          display: flex;
          justify-content: space-between;
          width: 80%;
          font-weight: 700;
          font-size: 14px;
          line-height: 40px;
          letter-spacing: 0px;
          span:last-child {
            flex-basis: 60%;
          }
          &:last-child {
            strong {
              margin-left: auto;
              flex-basis: 60%;
            }
          }
        }
      }
      @include mediaWidth_700 {
        order: 2;
        flex-basis: 100%;
        margin-top: 1.5em;
      }
    }

    .contact-img {
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
        height: auto;
      }

      @include mediaWidth_700 {
        order: 1;
        flex-basis: 100%;
      }
    }
  }
}

.tabs-wrapper {
  align-items: center;
}

.RRT__panel {
  margin-top: 1em !important;
  border: 0 !important;
  border-top: 1px solid #dadde7 !important;

  h1 {
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h2 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h3 {
    display: block;
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h4 {
    display: block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h5 {
    display: block;
    font-size: 0.83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  h6 {
    display: block;
    font-size: 0.67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  ul {
    list-style-type: disc;
    list-style-position: inside;
  }
  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }
  ul ul,
  ol ul {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }
  ol ol,
  ul ol {
    list-style-type: lower-latin;
    list-style-position: inside;
    margin-left: 15px;
  }
}

.tab {
  background-color: white !important;
  border: 0 !important;
  white-space: initial !important;
  font-size: 0.7rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.2em;
  text-align: center;
  display: inline-table;

  a {
    color: #000000;
  }

  &[aria-selected="true"] {
    background: #214c9e !important;
    color: white;
    font-weight: 700;
    border-radius: 10px;

    a {
      color: white;
    }
  }
}

.inner-width {
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: calc(100% - 200px);
    background: linear-gradient(105deg, #74b1e0 0%, #609ccb 100%) 0% 0%;
  }
}

/*.inner-width {
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  color: #333;
  overflow: hidden;
}*/

.inner {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.inner h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  font-size: 2.5rem;
  line-height: 61px;
  padding-top: 35px;
  margin-top: 0.5em;
}

.pers {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 2fr);
}

.pe {
  overflow: hidden;
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 0px 0px 16px rgba(33, 76, 158, 0.3);
  border-radius: 10px;
  height: 226px;
}

.doc-img img {
  width: 145px;
  height: 145px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin: 66px auto 0;
  max-width: 1220px;
  margin-bottom: -60px;
  background: linear-gradient(136.52deg, #74b1e0 -10.66%, #214c9e 109.63%);
}

.p-name {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  color: #021744;
  margin-top: 0.1em;
}

.p-des {
  font-size: 1rem;
  font-family: Proxima Nova;
  font-weight: bold;
  color: #214c9e;
  padding-top: 45px;
  margin-bottom: -5px;
}

.doc-more {
  top: -25px;
}

.btn-info {
  color: #fff;
  background-color: #214c9e;
  font-size: 0.9rem;
  border-radius: 25px;
  padding: 15px 25px;
  cursor: pointer;
}

.questions h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #021744;
  margin-top: 80px;
  margin-bottom: 60px;
}

.questions {
  text-align: center;
}

.accordion-list {
  text-align: center;
  margin: auto;
  list-style: none;
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(33, 76, 158, 0.3);
  border-radius: 10px;
  padding: 40px 40px;

  &__item {
    & + & {
      border-top: 1px solid rgba(#000, 0.1);
    }
  }
}

.accordion-item {
  $self: &;

  &--opened {
    #{ $self }__icon {
      transform: rotate(180deg);
    }

    #{ $self }__inner {
      max-height: 100rem;
      transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
      transition-duration: 0.5s;
      transition-property: max-height;
    }

    #{ $self }__content {
      opacity: 1;
      transform: translateY(0);
      transition-delay: 0.2s;
      transition-timing-function: ease-in-out;
      transition-duration: 0.2s;
      transition-property: opacity, transform;
    }
  }

  &__line {
    display: block;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  &__title {
    text-align: center;
    color: #021744;
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
  }

  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC);
    opacity: 0.6;
  }

  &__inner {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
  }

  &__content {
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
    padding: 0 1.2rem 1.2rem;
    text-align: start;
  }

  &__paragraph {
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #838fae;
  }
}

@media (max-width: 768px) {
  .section-service-doctors {
    text-align: center;
  }
  .inner h3 {
    padding-bottom: 40px;
  }
  .pers {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  .per {
    margin-top: -90px;
  }
}
@media (min-width: 1024px) {
  .accordion-list {
    width: 1024px;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .pers {
    width: 70%;
    margin-left: 100px;
  }
  .accordion-list {
    width: 80%;
  }
  .accordion-item__title {
    padding-bottom: 15px;
  }
}

.Card {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(3, 2fr);
  margin: 34px 70px;
  max-width: 1470px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #021744;
  margin-bottom: 10px;
}

.card-content p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #323b4b;
}

.card-content button {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #214c9e;
}

.pagination {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 15px;
}

.pagination a {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: #214c9e;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 17px;
  padding: 8px 16px;
  color: #021744;
}

@media (max-width: 600px) {
  .Card {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (min-device-width: 650px) and (max-device-width: 800px) {
  .Card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1666px) {
  .Card {
    margin: auto;
    margin-top: 60px;
  }
}

.blog-page {
  display: flex;
  justify-content: center;
  margin: 70px 40px 70px 150px;
}

.card-page-content {
  flex: 2;
  margin-right: 30px;
}

.card-page-card {
  flex: 1;
}

.card-page-content h3 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #021744;
}

.card-page-content p {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #323b4b;
}

.card-page-content h6 {
  font-family: Proxima Nova;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #214c9e;
}
